<p-table    [value]="spells" 
            selectionMode="single" 
            [(selection)]="selectedSpell" 
            dataKey="Name" 
            responsiveLayout="scroll" 
            *ngIf="spells.length != 0">
    <ng-template pTemplate="header">
        <tr>
            <th>Nombre</th>
            <th>Escuela</th>
            <th>Componentes</th>
            <th>Clases</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-spell>
        <tr [pSelectableRow]="spell">
            <td>{{spell.Name}}</td>
            <td>{{spell.School}}</td>
            <td>
                <span *ngIf="spell.Components.V">V </span>
                <span *ngIf="spell.Components.S">S </span>
                <span *ngIf="spell.Components.M">M* </span>
            </td>
            <td>{{spell.Classes}}</td>
            <td>
                <p-button icon="pi pi-eye" styleClass="p-button-info" (onClick)="viewSpell(spell.Name)"></p-button>
                <p-button icon="pi pi-pencil" styleClass="p-button-warning"></p-button>
                <p-button icon="pi pi-times" styleClass="p-button-danger" (onClick)="deleteSpell(spell.Name)" ></p-button>
                
                <p-confirmDialog header="Confirmación" icon="pi pi-exclamation-triangle"></p-confirmDialog>
            </td>
        </tr>
    </ng-template>
</p-table>
<div *ngIf="spells.length == 0">
    No hay conjuros en este Nivel
</div>