<p-card>
    <p-tabView>
        <p-tabPanel header="Cantrip">
            <ng-template pTemplate="content">
                <app-tab-content [level]=0></app-tab-content>
            </ng-template>
        </p-tabPanel>
        <p-tabPanel header="Level 1">
            <ng-template pTemplate="content">
                <app-tab-content [level]=1></app-tab-content>
            </ng-template>
        </p-tabPanel>
        <p-tabPanel header="Level 2">
            <ng-template pTemplate="content">
                <app-tab-content [level]=2></app-tab-content>
            </ng-template>
        </p-tabPanel>
        <p-tabPanel header="Level 3">
            <ng-template pTemplate="content">
                <app-tab-content [level]=3></app-tab-content>
            </ng-template>
        </p-tabPanel>
        <p-tabPanel header="Level 4">
            <ng-template pTemplate="content">
                <app-tab-content [level]=4></app-tab-content>
            </ng-template>
        </p-tabPanel>
        <p-tabPanel header="Level 5">
            <ng-template pTemplate="content">
                <app-tab-content [level]=5></app-tab-content>
            </ng-template>
        </p-tabPanel>
        <p-tabPanel header="Level 6">
            <ng-template pTemplate="content">
                <app-tab-content [level]=6></app-tab-content>
            </ng-template>
        </p-tabPanel>
        <p-tabPanel header="Level 7">
            <ng-template pTemplate="content">
                <app-tab-content [level]=7></app-tab-content>
            </ng-template>
        </p-tabPanel>
        <p-tabPanel header="Level 8">
            <ng-template pTemplate="content">
                <app-tab-content [level]=8></app-tab-content>
            </ng-template>
        </p-tabPanel>
        <p-tabPanel header="Level 9">
            <ng-template pTemplate="content">
                <app-tab-content [level]=9></app-tab-content>
            </ng-template>
        </p-tabPanel>

    </p-tabView>
    
    
</p-card>
